* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll !important;
  min-height: 100vh;
}

body {
  font-family: $tc5-font-family;
  background-color: $back-main;
  margin: 0;
  min-height: 100vh;
  color: $text-main;
  font-size: 16px;
  font-weight: 300;
}

input,
textarea {
  font-family: $tc5-font-family;
}

textarea {
  resize: vertical;
}

#root {
  min-height: 100vh;
}

.router {
  min-height: 100vh;
}

.with-header {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 80px 1fr;
}

.hide {
  display: none !important;
}

@media (min-width: 1201px) {
  .hide-desktop {
    display: none !important;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .hide-tablet {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .hide-mobile {
    display: none !important;
  }
}

.display-contents {
  display: contents;
}

.dashed {
  border-bottom: 1px dashed;
  transition: color 300ms;
  font-weight: bold;

  &:hover {
    color: #3f51b5;
    cursor: pointer;
    transition: color 300ms;
  }
}

.black,
.link {
  color: $black;
}

.undecorate {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

.unselectable {
  user-select: none;
}

.backlight {
  color: $green;
  transition: all 0.3s ease-in-out;
}

.hidden {
  visibility: hidden;
}

.hide {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.pre-wrap {
  white-space: pre-wrap;
}

.overflow-break-word {
  overflow-wrap: break-word;
}

.green,
.enabled {
  color: $brand-main-color;
}

.gray {
  color: $grey;
}

.t-center {
  text-align: center;
}

a.brand-link,
.brand-link {
  color: $green;

  &:hover,
  &:active,
  &:visited {
    color: $green-hover;
  }
}

.disabled {
  color: $gray-500;
}

.loading {
  opacity: 0.6;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.help-button {
  display: block;
  padding: 5px 10px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  background-color: #28a745;
}
input {
  color-scheme: $input-color-scheme;

  &::-webkit-calendar-picker-indicator {
    filter: brightness(90%);
  }
}

p {
  margin: 0;
}
