.app {
  padding: 0 30px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #444;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nums {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  overflow: auto;
}

.controls {
  padding: 20px 0;
}